:root {
  --pr-color: #fff;
  --second-color: #0a0a0a;
  --cubicbz: cubic-bezier(0.9, 0, 0.1, 1);
  --fz-big: 90px;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

body {
  background: var(--second-color);
}
.wrapp {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
  overflow: hidden;
}
.header {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 35px 35px 120px 35px;
  overflow: hidden;
}
.header__b1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background: #141414;
  border-radius: 20px;
  overflow: hidden;
  z-index: 2;
}
.header__footer {
  position: absolute;
  width: 100%;
  height: 120px;
  padding: 35px;
  bottom: 0;
  left: 0;
}
.header__footer-wrapp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.header__footer-img {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.header__footer-img img {
  display: block;
  width: 100%;
  height: 100%;
  animation: rotate 0s infinite linear;
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}

.tab__b1 {
  position: relative;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
  text-align: center;
}
.tab__b1.active {
  display: block;
}
.tab__b1-text {
  position: absolute;
  bottom: 50px;
  left: 50px;
  text-transform: uppercase;
  color: var(--pr-color);
  text-align: left;
  font-size: 70px;
  mix-blend-mode: difference;
}

.tab__b1 img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tab {
  height: 100%;
}
.tab__item {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 100%;
  list-style: none;
  cursor: pointer;
}
.tab__item.active {
  pointer-events: none;
}
.tab__item + .tab__item {
  margin-left: 35px;
}
.tab__item-img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: #141414;
  overflow: hidden;
  z-index: 2;
}
.tab__item-img img {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  object-fit: cover;
  will-change: transform;
  transition: 0.5s;
}
.tab__item.active img {
  opacity: 1;
  transform: scale(1.1);
}
.tab__item-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10px;
  left: 0;
  opacity: 0;
  transform: scale(0.8, 0.5);
  filter: blur(25px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  transition: 0.5s;
}
.tab__item.active .tab__item-shadow {
  top: 20px;
  opacity: 1;
}
